html {
    font-size: clamp(10px, 3vw, 29px);
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-principal: rgb(168, 12, 12);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    min-height: 100dvh;
    background-image: linear-gradient(var(--cor-principal), black);
    color: white;
    transition: 0.2s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding-top: 10vw;
    padding-bottom: 4vw;
    height: inherit;
}
main p, main h1 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}
main p {
    font-size: 1.2rem;
}
#container-titulo-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0.85;
}
#container-titulo-playlist button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 50%;
}
main img {
    height: 50%;
    max-height: 90vw;
    aspect-ratio: 1/1;
    border: 2px solid rgba(255, 255, 255, 0.76);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
}
section#container-nomes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sem-destaque {
    opacity: 0.6;
    transition: 0.2s;
}
.tempo {
    font-size: 1rem;
}
#barra-progresso-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#tempos-musica {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}
#barra-progresso {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.13);
    height: 6px;
    width: 100%;
    border-radius: 15px;
}
#barra-progresso-destaque {
    background-color: var(--cor-principal);
    height: inherit;
    width: 0%;
    border-radius: inherit;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.158);
    transition: 0.2s;
}
#barra-progresso-destaque:hover {
    height: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.322);
    transition: 0.2s;
}
button {
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: 1.8rem;
}
section#container-botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.botao-medio {
    font-size: 3.5rem;
    transition: 0.2s;
}
.botao-grande {
    font-size: 5rem;
    transition: 0.2s;
}
#botaoLike:hover {
    opacity: 1;
    font-size: 2rem;
    transition: 0.2s;
}